# -----------------------------------------------------------------
# .gitignore for WordPress
# Bare Minimum Git
# -----------------------------------------------------------------

node_modules
vendor/
*.DS_Store
*.zip
*.rej
**/*.map
.ignore
.github_token